################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/MemoryFootprint
/src/MemoryFootprint/bin/Debug/net8.0
/src/MemoryFootprint/obj
/src/MemoryFootprint.Tests/bin
/src/MemoryFootprint.Tests/obj
/src/.vs/ProjectEvaluation
